/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url("../img/pexels-joyston-judah-933054.jpg");
  background-size: cover;
}

.wrapper {
  color: wheat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.temperatures {
  margin: 20% auto;
}

.parameter {
  padding: 5px;
}

label {
  display: inline-block;
  width: 75px;
}

input {
  width: 60px;
}

.sigle {
  display: inline-block;
  width: 20px;
  text-align: right;
}

.selectable {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#degreeSelect {
  margin: 10px;
}
.btns {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  width: 50px;
  height: 25px;
  padding: 3px;
  margin: 5px;
}

#degreeSelect,
button,
input {
  background: transparent;
  outline: none;
  border-radius: 5px;
  color: wheat;
  border: none;
  text-decoration: underline;
}

input {
  border: 1px solid wheat;
}
.opt {
  background: transparent;
  color: darkgoldenrod;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
